/*
COLORS:
black: #212121
gray: #757575
white: #FFFFFF
blue: #2196F3
background-color: #F5F4FA

var(--primary-text-color);
*/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}




.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --secondary-backround-color: #f5f4fa;
  --footer-background-color: #2f303a;
}



/* ДОМИНАНТНЫЙ */

.page {
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}






/*---------- HEADER ----------*/

.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid #000;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV */

.site-nav,
.hover{
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


/* LOGO */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-right: 93px;
}

.logo-web {
  color: var(--brand-color);
}

/* MENU */

.menu-list{
  display: flex;
}

.menu-lisy-item .link{
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}
.menu-list-item:not(:last-child){
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--brand-color);
}



/* CONTACTS */

.header-contacts{
  display: flex;
}

.header-contact-item{
  margin-right: 30px;
}

.header-contact-item .header-contact-link,
.link{
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.header-contact-link{
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hover a:hover,
.hover a:focus {
  color: var(--brand-color);
}



/*   

            HERO *************************************************************************************************

*/

.hero {
  height: 600px;
  display: flex;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-background-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  margin: 0 auto 30px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*   

            SECTION 1 WITH HIDDEN H2  *********************************************************

*/

.hidden {
  display: none;
}

.features .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*   

            SECTION 2 WHAT WE ARE DOING  *********************************************************

*/

/*   

             SECTION 3 OUR TEAM  *********************************************************
 
*/
.section.team {
  background-color: var(--secondary-backround-color);
}

.team .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*   

            FOOTER  *********************************************************

*/
.footer {
  background-color: var(--footer-background-color);
}
.footer .logo {
  color: var(--white-color);
}

.footer .address {
  color: var(--white-color);
  font-style: normal;
}

.footer .link {
  color: var(--fotter-link-color);
  font-style: normal;
}

/*   

            PORTFOLIO  *********************************************************

*/

.portfolio-section .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section .type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* PORTFOLIO BUTTONS:HOVER :FOCUS */
.filter-button {
  background-color: var(--secondary-backround-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}


/* 3 домашка 

.container{
    width: 1200px;
    pl: 15px;
    pr: 15px;
    ml: auto;
    mr: auto;
}

.site-nav{
    display: flex;
    align-items: center;
}

a.site-nav {
    pt: 32px;
    pb: 32px;
    display: inline-block;
}

paddingi v sections

img display: block
